---
---
<head>
    <meta charset="utf-8" />
    <title> {% if page.title == null %}NO_TITLE{% else %}{{page.title}} | PLP{%endif%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/foundation.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/anchorjs/anchor.css" />
    <script src="{{site.baseurl}}/js/vendor/jquery.js"></script>
    <script src="{{site.baseurl}}/js/vendor/modernizr.js"></script>
    <script src="{{site.baseurl}}/js/vendor/fastclick.js"></script>
    <script src="{{site.baseurl}}/anchorjs/anchor.min.js"></script>
    <script src="{{site.baseurl}}/node_modules/zeroclipboard/dist/ZeroClipboard.js">
        ZeroClipboard.config( { swfPath: "{{site.baseurl}}/node_modules/zeroclipboard/dist/ZeroClipboard.swf" } );
    </script>
    <script src="{{site.baseurl}}/js/bowser.min.js"></script>
    <link rel="shortcut icon" href="{{site.baseurl}}/resources/pulp.png" type="image/png"/>
    <link rel="stylesheet" href="{{site.baseurl}}/prism/prism.css"/>
</head>

<body>

<div class="row full-width" >
<div class="show-for-large-up"> <!-- change medium to large for top-bar on medium screens --!>
        <div class="medium-6 columns">
            <img src="{{site.baseurl}}/resources/pulp.png" height="70px" width="70px" style="float:left;"/>
            <a href="{{site.baseurl}}/home.html"><h3 class="noanchor">Progressive Learning Platform (PLP)</h3></a>
        </div>
        <div class="medium-6 columns ">
            <ul class="inline-list right">
                <!-- quick links go here as <li>s --!>
                <li><a href="{{site.baseurl}}/home.html">Home</a></li>
                <li><a href="{{site.baseurl}}/plptool.html">PLP Tool</a></li>
                <li><a href="{{site.baseurl}}/instructions.html">ISA, Syntax, and I/O</a></li>
                <li><a href="{{site.baseurl}}/implementation.html">PLP Implementation</a></li>
                <li><a href="{{site.baseurl}}/glossary.html">Glossary</a></li>
                <li><a href="https://github.com/Progressive-Learning-Platform/progressive-learning-platform" target="_blank">GitHub</a></li>
                <li><a href="{{site.baseurl}}/resources/quick-ref.pdf">Quick Reference(PDF)</a></li>
            </ul>
        </div>
</div>
</div>



<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <div class="hide-for-large-up">
            <div class="fixed">
            <nav class="tab-bar ">
                <div class="left-small">
                    <a href="#plp-left-menu" role="button" class="left-off-canvas-toggle menu-icon"><span></span></a>
                </div>
                <div class="middle tab-bar-section">
                    <h3 class="title"><a href="{{site.baseurl}}/home.html" style="text-decoration:none "><font color="white">PLP</font></a></h3>
                </div>
                <div class="right-small">
                    <a href="#plp-right-menu" role="button" class="right-off-canvas-toggle menu-icon"><span></span></a>
                </div>
            </nav>
            </div>

            <aside class="left-off-canvas-menu" id="plp-left-menu">
                <ul class="off-canvas-list">
                    <li><label>Table of Contents</label></li>
                    <a class="placetablehere" ></a>
                    <!-- table of contents would go here as <li>s --!>
                </ul>
            </aside>

            <aside class="right-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><label>Quick Links</label></li>
                    <!-- quick links go here as <li>s --!>
                    <li><a href="{{site.baseurl}}/home.html">Home</a></li>
                    <li><a href="{{site.baseurl}}/plptool.html">PLP Tool</a></li>
                    <li><a href="{{site.baseurl}}/instructions.html">ISA, Syntax, and I/O</a></li>
                    <li><a href="{{site.baseurl}}/implementation.html">PLP Implementation</a></li>
                    <li><a href="{{site.baseurl}}/glossary.html">Glossary</a></li>
                    <li><a href="https://github.com/Progressive-Learning-Platform/progressive-learning-platform">GitHub</a></li>
                    <li><a href="{{site.baseurl}}/resources/quick-ref.pdf">Quick Reference(PDF)</a></li>
                </ul>
            </aside>

        </div>
        <!-- <div class="row full-width"> -->
        <section id="actual-content" class="main-section" >
            {{ content }}
        </section>
        <!-- </div> -->

        <a class="exit-off-canvas"></a>
    </div>
</div>


<script src="{{site.baseurl}}/js/foundation/foundation.js"></script>
<script src="{{site.baseurl}}/js/foundation/foundation.offcanvas.js"></script>
<script src="{{site.baseurl}}/js/foundation.min.js"></script>
<script>
$(document).foundation( {
    offcanvas : {
        close_on_click : true
        }
} );
</script>

<script type="text/javascript">
    anchors.options = {
        placement: 'right',
        icon: '&sect',
        visible: 'always',
        class: 'ancjs'
    };
    anchors.add().remove('.noanchor').remove('.title');
</script>

<script type="text/javascript">
    $(".placetablehere").prepend($(".toc").clone());
</script>

<script type="text/javascript">
    var client = new ZeroClipboard($(".copy-button"));
    client.clip( $(".copy-button") );
</script>

<!-- <script type="text/javascript"> -->
<!-- window.onresize = function() { -->
<!--     var ht = $(window).height(); -->
<!--     $("#actual-content").css({ "height": ht }); -->
<!-- }; -->
<!-- window.onload = function() { -->
<!--     var ht = $(window).height(); -->
<!--     $(".my-content").css({ "height": ht }); -->
<!-- }; -->
<!-- </script> -->

<!-- script to detect browser and set textarea whitespace accordingly --!>
<!-- <script type="text/javascript"> -->

<!-- var tar = $(".code"); -->

<!-- if( bowser.firefox ) -->
<!-- { -->
<!--     tar.css({ "white-space": "pre" }); -->
<!-- } -->
<!-- else --> 
<!-- { -->
<!--     tar.css({ "white-space": "nowrap" }); -->
<!-- } -->

<!-- </script> -->

<script type="text/javascript" src="{{site.baseurl}}/prism/prism.js"></script>

</body>
